* {box-sizing: border-box}

/* Set height of body and the document to 100% */
/*body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}*/

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    background-color:#abe0ab;
    color: Black;
    display: none;
    padding: 100px 20px;
    height: 100%;
    text-align: center;
    border-radius: 3px;
}
.tabcontent h3{
    font-size: 32px;
}
.findtab {
    font-size: 24px;
}
.findtab button {
    background-color:#40a8cf;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 3px;
    
    margin: 10px;
}

.findtab button:hover {
    background-color: royalblue;
    color:white;
    cursor: pointer;
}
.findtab select{
    border-radius: 3px;
    margin: 10px;
}