{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/a956b44b8c.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'recommend/main.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {% block head %}{% endblock %}

    {% if page_title %}
        <title>CLOTHiS - {{ page_title }}</title>
    {% else %}
        <title>CLOTHiS</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'about' %}">CLOTHiS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'recommend' %}">Recommend for me!</a>
              <a class="nav-item nav-link" href="{% url 'items' %}">Items</a>
              <a class="nav-item nav-link" href="{% url 'search' %}">Find</a>
              <a class="nav-item nav-link" href="#">Contact us</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col">
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
          
        </div>
        <!-- sidebar 
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
        -->
      </div>
    </main>

    <div class="footer" style="margin-top: 20px;">
      <div class="footer-content">
        <div class="footer-section about">
          <h1 class="logo-text"><span>CLO</span>THiS</h1>
          <p>
            about paragraph here
            or another about paragraph
          </p>
          <div class="contact">
            <span><i class="fas fa-phone"></i>&nbsp; +962799999999</span>
            <span><i class="fas fa-envelope"></i>&nbsp; email@company.com</span>
          </div>
        </div>
        <div class="footer-section links">
          <h2>Quick Links</h2>
          <br>
          <ul>
            <a href="{% url 'about' %}" ><li>About</li></a>
            <a href="{% url 'brands_list' %}"><li>Brands</li></a>
            <a href="{% url 'login' %}"><li>Log in</li></a>
            <a href="{% url 'register' %}"><li>Register</li></a>
            <a href="#"><li>Contact Us</li></a>
          </ul>
        </div>
        
      <div class="footer-bottom">
        &copy; CLOTHiS | by Leen Kilani & Mohammad Droubi
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
    
</body>
</html>