{% extends "recommend/base.html" %}
{% block content %}
<div class="content-section">
  <h1 class="display-4 mb-5">Our list of brands</h1>
    <div class="list-group mb-5">
      {% for brand in page_obj %}
      <a href="{% url 'brand_items' brand.0 %}" class=list-group-item>{{ brand.1|title }}</a>
      {% endfor %}
    </div>
    <!-- Pagination here -->
  
    <nav aria-label="Brands navigation">
      <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
        </span>
      </div>
    </nav>
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

<!-- pagination ends here -->
  </div>
{% endblock content %}